# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\毕业代码交接\IAEA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
